navbar-nav ml-auto{
	color: #000;
}

nav a{
	color: #000;
}

ul{
	color: #000;
}

.nav.navbar-nav.navbar-right {
    color: blue;
}

.intro-head{
	background-image: url(../img/mg_1744_edit-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	margin-top: -30px;
	color: #000;
	text-align: right;
}

.introhead-text{
	padding-top: 250px;
	font-size: 60px;
	font-family: helvetica;
	text-align: right;
	color: #000;
}

.introtext2{
	padding-bottom: 50px;
	font-size: 30px;
	font-family: helvetica;
	text-align: right;
	color: #000;
}

.firstsection{
	padding: 40px;
}

.img-fluid{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	align-content: right;
}

.hiname{
	padding-top: 50px;
	text-align: center;
	color: #000;
}

.whereat{
	padding-top: 30px;
	text-align: center;
	color: #000;
}

.intropara{
	padding-top: 40px;
}

body{
	margin-top: 0;
}